doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title #{title}
    script(src='../../src/gojs/assets/js/jquery.min.js')
    script(src='../../src/gojs/assets/js/jquery-ui.min.js')
    link(rel='stylesheet', href='../../src/css/style.css')
    script(src='https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js')
    link(rel='stylesheet', href='../../src/bootstrap-4.0.0-alpha.6-dist/css/bootstrap.min.css')
    script(src='../../src/bootstrap-4.0.0-alpha.6-dist/js/bootstrap.min.js')
  body
    block content
