doctype html
html(lang='en')
  head
    title Server Side Web Modelling for Augmentations
    meta(name='description', content='Server Side Web Modelling for Augmentations')
    meta(charset='UTF-8')
    // thrid party libraries
    link(rel='stylesheet', href='src/gojs/assets/css/jquery-ui.min.css')
    script(src='src/gojs/assets/js/jquery.min.js')
    script(src='src/gojs/assets/js/jquery-ui.min.js')
    script(src='src/gojs/release/go.js')
    script(src='src/jquery-simple-templates/jquery.tmpl.1.1.1.js')
    link(rel='stylesheet', href='src/gojs/extensions/DataInspector.css')
    script(src='src/gojs/extensions/DataInspector.js')
    link(rel='stylesheet', href='src/css/style.css')
    script(src='https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js')
    link(rel='stylesheet', href='src/bootstrap-4.0.0-alpha.6-dist/css/bootstrap.min.css')
    script(src='src/bootstrap-4.0.0-alpha.6-dist/js/bootstrap.min.js')
    // /thrid party libraries
    script(src='src/js/require.js')
    script(src='src/js/erModel.js')
    script(src='src/js/navModel.js')
    script(src='src/js/functions.js')
    script(src='src/js/createDBandTables.js')
    script(src='src/js/parsers.js')
    script(src='src/js/createRoutes.js')
    script(src='src/js/createPages.js')
    script(src='src/js/play.js')
  body(onload='initER();initNav();')
    ul#myTab.nav.nav-tabs(role='tablist')
      li.nav-item
        a.nav-link(data-toggle='tab', href='#erModel', role='tab') ER
      li.nav-item
        a.nav-link.active(data-toggle='tab', href='#navModel', role='tab') Navigation
    .tab-content
      #erModel.tab-pane(role='tabpanel')
        #erModelling
          .pdContainer
            span.paletteSpan
              #erPaletteDiv.pdDiv
            span.diagramSpan
              #erDiagramDiv.pdDiv
          div
            div
              button.btn.btn-secondary.main-btn#SaveERButton(onclick='saveER()') Convert to JSON
              button.btn.btn-secondary.main-btn(onclick='loadER()') Load JSON
              button.btn.btn-primary.main-btn(onclick='createDB()') Create DB
              button(disabled="disabled").btn.btn-primary.main-btn#createTableButton(onclick='createTables()') Create Tables
              p Diagram Model in JSON format:
            textarea#mySavedERModel.mySavedModel
              | { "class": "go.GraphLinksModel",
              | "nodeDataArray": [
              | ],
              | "linkDataArray": [
              | ]}
      #navModel.tab-pane.active(role='tabpanel')
        #navModelling
          .pdContainer
            span.paletteSpan
              #navPaletteDiv.pdDiv
            span.diagramSpan
              #navDiagramDiv.pdDiv
          #infoDraggable.draggable
            #infoDraggableHandle.handle Info
            div
              #myInfo
          div
            div
              button.btn.btn-secondary.main-btn#SaveNavButton(onclick='saveNav()') Convert to JSON
              button.btn.btn-secondary.main-btn(onclick='loadNav()') Load JSON
              button(disabled="disabled").btn.btn-primary.main-btn#CreateRoutesButton(onclick='createRoutes()') Create Routes
              button(disabled="disabled").btn.btn-primary.main-btn#PagesButton(onclick='createPages()') Create Pages
              button(disabled="disabled").btn.btn-primary.main-btn#PlayButton(onclick='play()') Play
              p Diagram Model in JSON format:
            textarea#mySavedNavModel.mySavedModel
              |  { "class": "go.GraphLinksModel",
              |    "copiesArrays": true,
              |    "copiesArrayObjects": true,
              |    "modelData": {"position":"-498.84404500084605 -278.33671875"},
              |    "nodeDataArray": [ {"name":"Index", "isGroup":true, "category":"MainPage", "key":-1} ],
              |    "linkDataArray": []}
        #contextMenu
          ul#classes
            li#notFound  No classes found 
