.draggable {
  display: inline-block;
  vertical-align: top;
  padding: 5px;
  border: 4px solid #BBB;
  border-radius: 4px;
  background-color: #F5F5F5;

  position: absolute;
  top: 20px;
  left: 380px;
  z-index: 500;
}

.handle {
  background-color: lightblue;
  cursor: move;
  text-align: center;
  font: bold 12px sans-serif;
}

#infoDraggable {
  font: 12px helvetica, sans-serif;
}

#myInfo {
  width: 100%;
  overflow: hidden;
}

#navPaletteDiv {
  background-color: #F5F5F5;
  width: 100%;
  /*height: 100%;*/
}

.mySavedModel {
  width:100%;
  height:300px
}

.pdDiv {
  border: solid 1px black;
  height: 620px
}

.paletteSpan {
    display: inline-block;
    vertical-align: top;
    width:175px
}

.diagramSpan {
    display: inline-block;
    vertical-align: top;
    width:80%
}

.pdContainer {
    width:100%;
    white-space:nowrap;
}

  /* CSS for the traditional context menu */
  #contextMenu {
    z-index: 300;
    position: absolute;
    left: 5px;
    border: 1px solid #444;
    background-color: #F5F5F5;
    display: none;
    box-shadow: 0 0 10px rgba( 0, 0, 0, .4 );
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
  }

  #contextMenu ul {
    list-style: none;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
  }

  #contextMenu li a {
    position: relative;
    min-width: 60px;
    color: #444;
    display: inline-block;
    padding: 6px;
    text-decoration: none;
    cursor: pointer;
  }

  #contextMenu li:hover {
    background: #CEDFF2;
    color: #EEE;
  }

  #contextMenu li ul li {
    display: none;
  }

  #contextMenu li ul li a {
    position: relative;
    min-width: 60px;
    padding: 6px;
    text-decoration: none;
    cursor: pointer;
  }

  #contextMenu li:hover ul li {
    display: block;
    margin-left: 0px;
    margin-top: 0px;
  }